@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Roboto:300,400,500,700&display=swap"); 

$first-color:#01A4E0;
$second-color:#0080B6;
$third-color:#1F3A54;
$fourth-color:#A7214D;
$fifth-color:#DA3338;
$sixth-color:#FAA52F;
$seventh-color:#60B070;
$eighth-color:#60B070;
$background-gray : #E2E7E9;
$background-blue : #01A4E0;
$background-blue-strong : #1F3A54;

$roboto-family:  'Roboto', sans-serif;
$montserrat-family:  'Montserrat', sans-serif;
